<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle de Reservacion</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</head>
<body>
    <header>
        <a href="#"><img src="img/conrad-logo.jpg" alt="Hotel Conrad Logo"></a>
        <nav>
            <li><a href="/" > Inicio </a></li>
            <li><a href="/carrito" >Reservaciones </a></li>
            <li><a href="/login" >Iniciar Sesion</a></li>
            <li><a href="/register" >Registrarse </a></li>
        </nav>
    </header>
    <div class="tituloDetalle">
        <h1 class="contenidoTituloDetalle">Detalle de Tu Reservacion con ID: FFF3214DD</h1>
    </div>
    <section>
        <article class="articuloReservacionDetalle">
            <div class="imagenReservacion">
                <img src="./img/premium.jpg"  class="imgR" alt="">
            </div>
            <div class="detallesReservacion">
                <p>Reservacion En Combo estadia 6 dias paga 5</p>
                <p><ion-icon name="star" class="star"></ion-icon>4.5 Estrellas</p>
                <p><a href="#" class="medioPago"><ion-icon name="cash" class="dollar"></ion-icon>Adjuntar Medio de Pago</a></p>
                <p>$0000.000000</p>
                <p>¡La mejor eleccion cuando de confortabilidad se trata!</p>
            </div>
        </article>
    </section>
    <section>
        <h2 class="subtitulo">Incluye!!! 🤩</h2>
        <article>
            <h2 class="subtitulo">JACUZZI!!</h2>
            <img src="./img/jacuzzi.jpg" class="basico" alt="">
            <p>
                Jacuzzi doble con bombillitos led con manejo de 
                colores, portavasos, agua termomanejable, dos 
                lamparas, manejo de movimiento acuatico.
            </p>
        </article>
        <article>
            <h2 class="subtitulo">CINE ESTUDIO!!</h2>
            <img src="./img/tv.jpg" class="basico" alt="">
            <p>
                Se encuentra con un televisor pantalla ancha,
                dos bafles de audio de alta calidad, 5 a 10
                sillas tipo cine con portavasos y portacomida.
            </p>
        </article>
        <article>
            <h2 class="subtitulo">Sauna!!</h2>
            <img src="./img/sauna.jpg" class="basico" alt="">
            <p>
               Sauna con implementos necesarios: batas, pantuflas
               suaves, cremas para piel, mascarillas para labios
               y rostro, antifaz adaptativo a rostro.
            </p>
        </article>
    </section>
    <section class="news">
        <h3>Atencion al Cliente</h3>
        <p>Si desea contactarse con nosotros o desea mantenerse al tanto de las nuevas y mejoradas ofertas en nuestro hotel, escriba su direccion de mail aqui</p>
        <hr>

        <form>
            <input type="text" placeholder="Email">
            <button>Enviar</button>
        </form>
    </section>

    <footer>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        </ul>
        <p> Hotel Conrad 2021</p>
    </footer>
</body>
</html>