<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,500i,700,700i" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.css">

    <title>Hotel Conrad</title>

</head>
<body>

    <header>
        <a href="#"><img src="img/conrad-logo.jpg" alt="Hotel Conrad Logo"></a>
        <nav>
            <li><a href="#" > Inicio </a></li>
            <li><a href="/carrito" >Reservaciones </a></li>
            <li><a href="#" >Iniciar Sesion</a></li>
            <li><a href="#" >Registrarse </a></li>
        </nav>
    </header>

    <section class="hero">
        <h1>CONRAD HOTEL</h1>
        <h3>"La mejor opcion cuando de comodidad se trata"</h3>
        <a class="btn" href="#">Saber más</a>
    </section>

    <section class="conheca">
        <h3>Conoce el Paraiso Arrollador de Este Bello Lugar!!</h3>
        <p>Adentrate en este bello paraje lleno de lujos visuales y grandes
           comodidades, ¡Y LO MEJOR! con planes acorde a tus expectativas.
        </p>
        <hr>
        <ul class="grid">
            <li class="small" style="background-image: url('img/home3.jpg')"></li>
            <li class="large" style="background-image: url('img/itacare-02.jpg')"></li>
            <li class="large" style="background-image: url('img/itacare-03.jpg')"></li>
            <li class="small" style="background-image: url('img/itarace-04.jpg')"></li>
        </ul>
    </section>

    <section class="caracteristicas">
        <h3>Unico hotel donde a parte de descansar el alma, descansa el bolsillo</h3>
        <p>Abordado por una bella playa reconocida a nivel intercontinental, con los servicios
           acojedores y la vista al mar y a los sitios mas visitados en el mismo. 
        </p>
        <hr>
        <ul class="grid">
            <li>
                <i class="fas fa-location-arrow"></i>
                <h4>Localizacion</h4>
                <p>Localizado en Cartagena de Indias (COLOMBIA) cerca de la plaza de la Aduana, uno de los
                   lugares mas visitados por nacionales y extranjeros en busca de rumbos comodos y especiales.
                </p>
            </li>

            <li>
                <i class="fas fa-gift"></i>
                <h4>¿Ofertas Especiales?</h4>
                <p>¡Viniste al lugar correcto! Contamos con ofertas comodas a tu bolsillo y atractivas
                    para que puedas disfrutar de todos y cada uno de los atributos de nuestro hotel
                    ¡NO TE ARREPENTIRAS!
                </p>
            </li>

            <li>
                <i class="fas fa-home"></i>
                <h4>Comodidad</h4>
                <p>Este es uno de los lugares en los cuales deseas volver y volver, por su amplia gama
                   de beneficios y comodidades. Si el paraiso viniste a buscar, en CONRAD lo podras encontrar
                </p>
            </li>
        </ul>
    </section>
    
    <section class="news">
        <h3>Atencion al Cliente</h3>
        <p>Si desea contactarse con nosotros o desea mantenerse al tanto de las nuevas y mejoradas ofertas en nuestro hotel, escriba su direccion de mail aqui</p>
        <hr>

        <form>
            <input type="text" placeholder="Email">
            <div class="button1">Cadastrar</div>
        </form>
    </section>

    <footer>
        <ul>
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            <li><a href="#"><i class="fab fa-pinterest"></i></a></li>
        </ul>
        <p> Hotel Conrad 2021</p>
    </footer>

</body>
</html>