* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav, ul {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

a:hover {
  opacity: 0.9;
}

header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background-color: #fff;
}

header img {
  width: 200px;
}

header nav {
  display: flex;
}

header li {
  margin: 0 15px;
}

header li a {
  color: #191c03;
}

header li:first-child {
  margin-left: 0;
}

header li:last-child {
  margin-right: 0;
}

@media (max-width: 700px) {
  header {
    flex-direction: column;
  }
  header img {
    margin-bottom: 20px;
  }
}

.hero {
  background-image: url(../img/home1.jpg);
  background-size: cover;
  min-height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.hero h1 {
  font-size: 3.3rem;
  margin-bottom: 15px;
}

.hero h3 {
  font-size: 2rem;
  margin-bottom: 15px;
}

.hero .btn {
  background-color: #fff;
  border-radius: 4px;
  color: #191c03;
  padding: 20px 50px;
  text-transform: uppercase;
}

.hero .btn:hover {
  background-color: #191c03;
  color: #fff;
}

@media (max-width: 700px) {
  .hero h1 {
    font-size: 2.5rem;
  }
  .hero h3 {
    font-size: 1.5rem;
  }
}

.conheca {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.conheca h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}

.conheca p {
  max-width: 800px;
  margin-bottom: 35px;
  color: #191c03;
  text-align: center;
}

.conheca hr {
  width: 200px;
  height: 2px;
  background-color: #191c03;
  margin-bottom: 70px;
  border: none;
}

.conheca .grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.conheca .grid li {
  height: 350px;
  padding: 20px;
  border-radius: 4px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
}

.conheca .grid li.small {
  flex-basis: 40%;
}

.conheca .grid li.large {
  flex-basis: 60%;
}

@media (max-width: 700px) {
  .conheca .grid li.small {
    flex-basis: 100%;
  }
  .conheca .grid li.large {
    flex-basis: 100%;
  }
}

.caracteristicas {
  background-color: #191c03;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.caracteristicas h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #fff;
  text-align: center;
}

.caracteristicas p {
  max-width: 800px;
  margin-bottom: 35px;
  color: #fff;
  text-align: center;
}

.caracteristicas hr {
  width: 200px;
  height: 2px;
  background-color: #fff;
  margin-bottom: 70px;
  border: none;
}

.caracteristicas .grid {
  width: 100%;
  display: flex;
}

.caracteristicas .grid li {
  padding: 0 30px;
  text-align: center;
}

.caracteristicas .grid li i {
  color: #c3c63b;
  font-size: 3.5rem;
  margin-bottom: 30px;
}

.caracteristicas .grid li h4 {
  font-size: 1.5rem;
  color: #c3c63b;
  margin-bottom: 30px;
}

.caracteristicas .grid li p {
  color: #fff;
}

@media (max-width: 850px) {
  .caracteristicas .grid {
    flex-direction: column;
  }
}

.news {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 50px;
}

.news h3 {
  font-size: 2rem;
  margin-bottom: 35px;
  color: #c3c63b;
  text-align: center;
}

.news p {
  max-width: 800px;
  margin-bottom: 35px;
  color: #c3c63b;
  text-align: center;
}

.news hr {
  width: 200px;
  height: 2px;
  background-color: #c3c63b;
  margin-bottom: 70px;
  border: none;
}

.news form {
  width: 80%;
  max-width: 800px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.news form input {
  padding: 15px;
  border: 1px solid #c3c63b;
  border-radius: 4px;
  margin-right: 15px;
  flex: 1;
}


.button1{
  padding: 15px;
  background-color: #c3c63b;
  color: #fff;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 700px) {
  .news input {
    flex-basis: 100%;
    margin-bottom: 15px;
  }
}

footer {
  display: flex;
  flex-direction: column;
  background-color: #191c03;
  padding: 50px;
  align-items: center;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
}

footer ul li {
  margin-right: 10px;
}

footer ul li:last-child {
  margin-right: 0;
}

footer ul li a {
  color: #c3c63b;
  font-size: 2rem;
}

footer p {
  color: #c3c63b;
  text-align: center;
}

/* login */

body {
  background-color:#c39b65;
  margin: 0px;
  pad: 0px;
}
a {
  text-decoration: none;
}
.container {
  width: 72%;
  height: 70%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 2px 2px 30px rgba(66, 57, 238, 0.2);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../img/imagen5.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.sign-up {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-container {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.heading {
  font-family: calibri;
  color: rgba(238, 238, 238, 0.637);
  margin-top: 40px;
  margin-bottom: 10px;
}
.text {
  width: 350px;
  height: 50px;
  box-shadow: 2px 6px 18px rgba(222, 222, 235, 0.3);
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  
}
.text input {
  border: none;
  outline: none;
  height: 40px;
  width: 80%;
  margin: 5px;
  font-size: 14px;
  background: transparent;
}
.text img {
  margin-left: 20px;

}
.conditions {
  font-family: myriad pro;
  color: #bbc1cb;
  font-size: 14px;
}
.terms {
  display: flex;
  align-items: center;
}
.conditions a {
  color: #f3edfa;
  font-weight: 500;
}
button {
  width: 200px;
  height: 40px;
  outline: none;
  border: none;
  background: linear-gradient(-30deg, #9d5c30,#c39b65 55%);
  box-shadow: 2px 6px 16px rgba(251, 251, 251, 0.3);
  border-radius: 20px;
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  font-weight: 13px;
  transition: 0.5s;
  cursor: pointer;
}
button:active {
  transform: scale(1.1);
}
.text-container p {
  width: 70%;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: initial;
}

@media screen and (max-width: 1024px) {

    .sign-up {
        width: 60%;
    }
    .container {
        width: 85%;
    }
    .text-container p {
        font-size: 14px;
        line-height: inherit;
    }
    .text {
        width: 300px;
        height: 45px;
    }
    .text img {
        height: 12px;
    }
    button {
        width: 165px;
        height: 35px;
    }
}
@media screen and (max-width: 768px) {
  .sign-up {
    width: 100%;
    display: block;
    position: relative;
    height: auto;
    text-align: center;
  }
  .container {
    width: 70%;
    height: auto;
    background-position: bottom center;
    padding-bottom: 87px;
    display: block;
    margin-top: 0px;
    margin-bottom: 70px !important;
}
.heading {
    margin-top: 100px;
    margin-bottom: 30px;
    
}
.text {
    width: 90%;
    height: 40px;
    padding-left: 10px;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;
}
.terms {
    margin-left: 20px;
}
  .text img {
    margin-left: 0;
    height: 10px;
  }
  .text input {
    height: 30px;
    width: 80%;
    font-size: 11px;
}
.text-container h1{
    line-height: 24px;
    font-size: 25px;
}
button {
    width: 130px;
    height: 30px;
    font-size: 11px;
}
.text-container p {
    width: 90%;
    font-size: 12px;
    line-height: inherit;
}
.text-container {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    text-align: center;
    margin-top: 30px;
}
}

